<ActionBar>
    <!--
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!--
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
                ios.position="left">
    </ActionItem>
    <Label text="Listado Principal"></Label>
</ActionBar>

<StackLayout class="page__content" #layout>
    <Label class="page__content-icon fas" text="&#xf002;"></Label>
<!--    <Image #imagen src="res://icon" class="thumb img-circle" style="width: 20%"></Image>-->
    <Buscar (search)="buscarAhora($event)" [inicial]="'Hotel'"></Buscar>
    <PullToRefresh (refresh)="onPull($event)">
    <ListView class="list-group" [items]="opcionesFiltradas" (itemTap)="onItemTap($event)" style="height: 1250px">
        <ng-template let-x="item">
            <FlexboxLayout flextDirection="row" class="list-group-item">
                <Image #imagenes src="res://icon" class="thumb img-circle" style="width: 15%"></Image>
                <Label [text]="x.nombre + ' - ' + x.categoria" class="list-group-item-text" verticalAlignment="center"
                       style="width: 70%" ></Label>
                <Label horizontalAlignment="right" verticalAlignment="middle" class="fas" margin="3" fontSize="20"
                       text="&#xf013;" style="width: 10%"  (tap)="categoria(x)"></Label>
            </FlexboxLayout>
        </ng-template>
    </ListView>
    </PullToRefresh>
</StackLayout>
